@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>Professor @ViewData["Professor"]</p>

<p>@ViewData["Email"]</p>


<adress>
    <strong>
        More informacion: 
    </strong> <a href="http://educando.com.br">Educandoweb.com.br</a>
</adress>